body {
    font-family: sans-serif;
    font-size: 14px;
}

header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100px;

    display: flex;
    direction: column;
}
header img {
    height:100%;
}
header h1 {
    margin: 0px;
    padding: 25px 3rem;
}

#name {
    background: #f77;
}
form {
    margin: 50px 0px;
    padding: 0px;
    width: 100%;
}
form table {
    margin: 50px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    
    border: 1px solid black;
    
    border-collapse: separate;
    border-spacing: 0px 0px;
}
form table tr th, form table tr td {
    border: 1px solid black;
}
form table tr th {
    background: #1f1;
}
form table tr:nth-child(2n) {
    background: #aaa;
}
form table tr:nth-child(2n-1) {
    background: #ccc;
}
form table tr:last-child {
    background: #55f;
}

@media screen and (min-width: 960px) {
    header {
        margin: 0px calc(50% - 480px) 50px calc(50% - 480px);
        width: 960px;
    }
    header h1 {
        padding: 25px 75px;
    }

    form {
        margin: 0px calc(50% - 480px) 50px calc(50% - 480px);
        width: 960px;
    }
}
